<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'scurityapp/styles.css' %}">
</head>
</head>
<body>
    <div class="show">
        <h1>app_name check Result:</h1>
        <p>{{ name_result }}</p>
        <h1>app_style Check Result:</h1>
        <p>{{ app_style_result }}</p>
        <h1>app_code_check result :</h1>
        <p>{{ app_code_result }}</p>
    </div>
</body>
</html>